.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    position: relative;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, rgb(125, 255, 255), rgb(93, 93, 255));
    z-index: 50;
}
.container > a,
.container > p {
    font-size: 15px;
    font-family: Arial;
    color: black
}